/* *{
    border: .5px solid red;
} */
body{
    margin: 0;
    padding: 0;
}
/* common css */
.btn{
    background-color: #DD0000;
    color: white;
    font-size: 20px;
    font-weight: bold;

}
/* featured area css start */
.top-container{
    height: 70vh;
    margin: 50px 100px;
    padding: 50px 100px 0px 50px;
    background-color: #161616;
    display: flex;
    border-radius: 30px;
    color: white;
    justify-content: center;
}
.fetured-text{
    align-self: center;
}
.watch-btn{
    width: 180px;
    height: 50px;
    border-radius: 5px;
}
.fetured-image{
    margin-left: 20px;
}
.half-width{
    width: 50%;
}
.fetured-text p{
    font-size: 16px;
}
/* featured area css end */
.blog-area{
    display: flex;
    margin: 50px 100px;
}
/* fix menu design */
.fix-menu{
    width: 450px;
    height: 270px;
    border-radius: 10px;
    background-color: #161616;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 20px;
}
.fix-menu a{
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    color: black;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
}
/* selected menu hilight*/
#blog-menu{
    background-color: red;
    color: white;
}
/* blog post desigb */
.blog-posts{
    margin-left: 10px;
}
.posts{
    border: 1px solid #E8E8E8;
    border-radius: 10px;
}
.post-text{
    margin: 20px;
}
.posts img{
    width: 100%;
}

/* inner blog post button */
.simple-btn{
    width: 140px;
    height: 35px;
    background-color: white;
    border: 1px solid #161616;
    border-radius: 5px;
    font-weight: bold;
}
.gap{
    margin: 5px;
}
/* blog post grid design */
.blog-posts{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 15px;
}
/* footer design css */
.footer-area{
    color: white;
    /* height: 200px; */
    background-color: #161616;
    text-align: center;
    padding: 5% 10% 5px 10%;
}
#pages{
    color: #B9B9B9;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-top: 25px;
}
/* footer social */
.social-icon{
    font-size: 20px;
    padding: 0 15px;
}
#view-all{
    display: none;
}
/* responsive start from mobile view */
@media screen and (max-width: 576px) {
    .top-container{
        /* height: 80vh; */
        flex-direction: column;
        margin: 20px;
        border-radius: 15px;
        background-color: #161616;
        justify-content: space-between;
        padding: 15px 15px 0 15px;
        /* for align all text in center */
        text-align: center;
    }
    #illip-m{
        white-space: nowrap; 
        overflow: hidden;
        text-overflow: ellipsis;
    }
    .half-width{
        height: 50%;
        width: 90%;
    }
    .blog-area{
        flex-direction: column;
    }
    .fix-menu{
        background-color: white;
        width:auto;
        margin-bottom: 20px;
    }
    .blog-area{
        margin: 20px;
        padding: 0;
    }
    .blog-posts {
        margin: 20px;
        grid-template-columns: repeat(1, 1fr);
    }
    .fix-menu a{
        background-color: #E8E8E8;
    }
    /* mobile footer pages */
    #pages{
        flex-direction: column;
    }
    #pages span{
        margin: 10px;
    }
}
/* mobile responsive done */
/* tab view responsive start */
@media screen and (min-width: 577px) and (max-width:920px) {
    .top-container {
        height: 70vh;
        margin: 20px;
        padding: 40px;
        padding-bottom: 0;
        border-radius: 15px;
    }
    .blog-posts {
        margin: 20px;
        grid-template-columns: repeat(2, 1fr);
    }
    .blog-area{
        flex-direction: column;
    }
    .fix-menu{
        flex-direction: row;
        width: auto;
        height: auto;
        background-color: white;
    }
    .fix-menu a{
        background-color: #E8E8E8;
    }
    .fx{
        width: 20%;
    }
    #last-post{
        display: none;
    }
    /* button only for tab view */
    #view-all{
        display: flex;
        justify-content: center;
    }
    #view-all-btn{
        width: 150px;
        height: 50px;
        border-radius: 5px;
        border: none;
        margin-top: -30px;
        margin-bottom: 50px;
    }
    #pages{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 15px;
        /* try to center 2nd line of links */
        align-items: center;
        /* not go center 
        I tried justify all syntex and also align all syntex
        */
    }
}