/* *{
    border: .5px solid red;
} */
body{
    margin: 0;
    padding: 0;
}
/* common css */
.btn{
    background-color: #DD0000;
    color: white;
    font-size: 20px;
    font-weight: bold;

}
/* featured area css start */
.top-container{
    height: 70vh;
    margin: 50px 100px;
    padding: 50px 100px 0px 50px;
    background-color: #161616;
    display: flex;
    border-radius: 30px;
    color: white;
    justify-content: center;
}
.fetured-text{
    align-self: center;
}
.watch-btn{
    width: 180px;
    height: 50px;
    border-radius: 5px;
}
.fetured-image{
    margin-left: 20px;
}
.half-width{
    width: 50%;
}
.fetured-text p{
    font-size: 16px;
}
/* featured area css end */